body{
  color: black;
}
#texto_visitante{
  background-color: white;
  color: black;
}

#social  .fa{
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  #social ul li a:hover{
    text-decoration: none;
    color: white;
  }
  #social ul{
    list-style-type: none;
  }
  #social ul li{
    display: inline;
  }
  #social{
    background-color: #4CE73A;

  }
  #seccion_inicio h2{
    color: red;
  }
  #social .fa-twitter{
  padding: 10px 13px;
  color: white;
  }
  #social .fa-facebook{
  padding: 10px 20px;
  color:white;
  }
  #social .fa-google-plus{
  padding: 10px 7px;
  color: white;
  }
  #social .btn:hover{
  background: #4b4b4b;
}
#seccion_descripcion img{
  background-color: blue;
}
#copyright {
  background-color: blue;
}
#texto_visitante{
  width: 1000px;
  height: 100px;
}
